@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    --light-grey: hsl(204, 43%, 93%);
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --greyish-blue: hsl(218, 22%, 67%);
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

body {
    font-family: 'Karla', sans-serif;
    background: var(--light-grey);
    height: 100vh;
    padding: 5rem 2rem;
}

h4, p {
    margin: 1rem 0;
}

.primary {color: var(--cyan);}
.secondary {color: var(--bright-yellow);}
.grey {color: var(--greyish-blue);}
.off-white {color: rgba(255, 255, 255, 0.705);}

.large-text {font-size: 1.5rem;}
.small-text{font-size: 0.9rem;}